<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Order Summary</h1>
    <h2>Order Number: <%= order.orderNumber %></h2>
    <h2>Service Selected: <%= service.name %></h2>
    <% for (const orderItem of order.orderItems) { %>
    <div>
      <h3>Item: <%= orderItem.name %></h3>
      <p>Quantity: <%= orderItem.quantity %></p>
      <p>Individual Price: <%= orderItem.price %></p>
      <p>Price: <%= orderItem.cumPrice %></p>
      <hr />
    </div>
    <% } %>
    <h2>Estimated Price: <%= order.estimatedPrice %></h2>

    <form action="/order/confirmOrder" method="POST">
      <input type="hidden" name="order" value="<%= JSON.stringify(order) %>" />
      <button type="submit">Proceed to Payment</button>
    </form>
  </body>
</html>
